<p style="color: green"><%= notice %></p>

<p><b>Username:</b></p>
<%= @user.username %>

<p>
	Has made
	<%= @user.ratings.count %>
	ratings, average rating
	<%= @user.average_rating %>
</p>

<p><b>member of</b></p>
<ul>
	<% @user.beer_clubs.each do |beer_club| %>
		<li>
			<%= link_to beer_club.name, beer_club %>
		</li> 
	<% end %>
</ul>

<p><b>ratings</b></p>

<ul>
	<% @user.ratings.each do |rating| %>
		<li>
			<%= rating.beer.name%> <%= rating.score %>
			<%= link_to 'delete', rating, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> </li>
		</li> 
	<% end %>
</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
